
<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
      <a class="navbar-brand" >Wheely<span>Deals</span></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="oi oi-menu"></span> Menu  </button>
          
        <div *ngIf = "userService.info.isLogin==true">
      <div  class="collapse navbar-collapse" id="ftco-nav">
        <ul *ngIf="userService.info.role === 'ROLE_ADMIN'" class="navbar-nav ml-auto">
          
          <li class="nav-item " [ngClass]="{'active': isActive('/MasterVehicle')}"><a routerLink="/MasterVehicle" class="nav-link">Home</a></li>
          <li class="nav-item" [ngClass]="{'active': isActive('/allMasterVehicle')}"><a routerLink="/allMasterVehicle" class="nav-link">Vehicles</a></li>
          <li class="nav-item" [ngClass]="{'active': isActive('/adminCustomer')}"><a routerLink="/adminCustomer" class="nav-link">Customer</a></li>
          <li class="nav-item" [ngClass]="{'active': isActive('/adminService')}"><a routerLink="/adminService" class="nav-link">Service Provider</a></li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="profileDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Profile
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="profileDropdown">
                    <li style="cursor: pointer;"> <a style="color: #6c757d ;padding: 0.5rem 1rem;" (click)="logout()" >Logout</a></li>
            </div>
        </li>
     </ul>
    <ul *ngIf="userService.info.role === 'ROLE_SERVICEPROVIDER'" class="navbar-nav ml-auto">
      <li class="nav-item active"><a routerLink="/serviceProvider" class="nav-link">Home</a></li>
      <li class="nav-item"><a routerLink="/vehicle" class="nav-link">Vehicle</a></li>
      <li class="nav-item"><a href="pricing.html" class="nav-link">Request</a></li>
      <li class="nav-item"><a href="car.html" class="nav-link">Booking</a></li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="profileDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Profile
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="profileDropdown">
                <li style="cursor: pointer;"> <a style="color: #6c757d ;padding: 0.5rem 1rem;" (click)="logout()" >Logout</a></li>
        </div>
    </li>
    </ul>
       <ul *ngIf="userService.info.role === 'ROLE_CUSTOMER'" class="navbar-nav ml-auto">
         <li class="nav-item active"><a routerLink="/" class="nav-link">Home</a></li>
         <li class="nav-item"><a routerLink="/allMasterVehicle" class="nav-link">Vehicle</a></li>
         <li class="nav-item"><a routerLink="/booking" class="nav-link">Bookings</a></li>
         <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="profileDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Profile
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="profileDropdown">
                  <li style="cursor: pointer;"> <a style="color: #6c757d ;padding: 0.5rem 1rem;" (click)="logout()" >Logout</a></li>
          </div>
      </li>
      </ul>
      </div>
    </div>
    <div *ngIf="userService.info.isLogin==false">
      <div  class="collapse navbar-collapse" id="ftco-nav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item " [ngClass]="{'active': isActive('/MasterVehicle')}"><a routerLink="/" class="nav-link">Home</a></li>
          <li class="nav-item" ><a routerLink="/about" class="nav-link">About</a></li>
          <li class="nav-item" ><a href="pricing.html" class="nav-link">Contact</a></li>
          <li class="nav-item" ><a routerLink="/allMasterVehicle" class="nav-link">Vehicle</a></li>
          <li class="nav-item" [ngClass]="{'active': isActive('/login')}"><a routerLink="/login" class="nav-link">Login</a></li>
     </ul>
     
      </div>
    </div>
  </div>
  </nav>
<!-- END nav -->