<section class="ftco-section">
    <div class="container">        
        <div id="tabs" class="tab">
            <ul>
              <li><a  href="#tabs-1">Pending</a></li>
              <li><a href="#tabs-2">Confirm</a></li>
              <li><a href="#tabs-3">Completed</a></li>
            </ul>
            <div id="tabs-1">
                Pending
            </div>
            <div id="tabs-2">
                Confirm
            </div>
            <div id="tabs-3">
                Completed
            </div>
        </div>
    </div>     
</section>