<div  class="hero-wrap" style="background-image: url('assets/images/back2.jpeg'); height: 100px;" data-stellar-background-ratio="0.5">
    <section class="ftco-section"></section>
    </div>
<section class="ftco-section">
    <div class="container">        
        <div id="tabs" class="tab">
            <ul>
              <li><a  href="#tabs-1">Pending</a></li>
              <li><a href="#tabs-2">Confirm</a></li>
              <li><a href="#tabs-3">Completed</a></li>
            </ul>
            <div id="tabs-1">
                <div class="col-xl-4">
                    <h2>Pending Requests</h2>
                    <hr style="background-color: chocolate; text-decoration-thickness: 2px; height: 1px;">
                </div>
                <br>
                <table class="table table-hover" >
                    <thead>
                        <tr>
                              <th>S.No</th>
                              <th>Model</th>
                              <th>Fuel Type</th>
                              <th>Source</th>
                              <th>Destination</th>
                              <th>Request Date</th>
                              <th></th>
                        </tr>
                    </thead>
                    <tbody>
                      <tr>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td><button class="btn btn-info"><a  routerLink="/viewRequests">View</a></button></td>
                     </tr>
                    </tbody>
                </table>
            </div>

            <div id="tabs-2">
                <div class="col-xl-4">
                    <h2>Accepted Requests</h2>
                    <hr style="background-color: chocolate; text-decoration-thickness: 2px; height: 1px;">
                </div>
                <br>
                <table class="table table-hover" >
                    <thead>
                        <tr>
                              <th>S.No</th>
                              <th>Model</th>
                              <th>Fuel Type</th>
                              <th>Source</th>
                              <th>Destination</th>
                              <th>Request Date</th>
                              <th></th>
                        </tr>
                    </thead>
                    <tbody>
                      <tr>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td><button class="btn btn-info"><a  routerLink="/viewRequests">View</a></button></td>
                     </tr>
                    </tbody>
                </table>
            </div>
            <div id="tabs-3">
                <div class="col-xl-4">
                    <h2>Completed Bookings</h2>
                    <hr style="background-color: chocolate; text-decoration-thickness: 2px; height: 1px;">
                </div>
                <br>
                <table class="table table-hover" >
                    <thead>
                        <tr>
                              <th>S.No</th>
                              <th>Model</th>
                              <th>Fuel Type</th>
                              <th>Source</th>
                              <th>Destination</th>
                              <th>Request Date</th>
                              <th></th>
                        </tr>
                    </thead>
                    <tbody>
                      <tr>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td><button class="btn btn-info"><a  routerLink="/viewRequests">View</a></button></td>
                     </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>     
</section>