<div  class="hero-wrap" style="background-image: url('assets/images/back2.jpeg'); height: 100px;" data-stellar-background-ratio="0.5">
    <section class="ftco-section"></section>
    </div>
<section class="ftco-section">
<div class="container">
    <h2>Vehicle Bookings</h2>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Customer</th>
                <th>Vehicle</th>
                <th>Source</th>
                <th>Destination</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>View</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><button class="btn btn-primary" >
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                        <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0"/>
                        <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7"/>
                    </svg></button></td>
            </tr>
        </tbody>
    </table>
    
</div>
</section> 
    