<div  class="hero-wrap" style="background-image: url('assets/images/back2.jpeg'); height: 100px;" data-stellar-background-ratio="0.5">
    <section class="ftco-section"></section>
    </div>
<section class="ftco-section">
    <div class="col-md-3" style="margin-left: 200px;">
        <h2>Request Details</h2>
        <hr style="background-color: chocolate; text-decoration-thickness: 2px; height: 1px;">
    </div>
  <div class="container">
    <br>
    <div class="profile-row">
      <br />
      <div class="profile-item"><b>Model:</b><br /></div>
      <br />
      <div class="profile-item">
        <strong>Fuel Type:</strong><br />
      </div>
      <br />
      <div class="profile-item">
        <strong>Source:</strong><br />
      </div>
    </div>
    <div class="profile-row">
      <br />
      <div class="profile-item">
        <strong>Destination:</strong><br />
      </div>
      <br />
      <div class="profile-item">
        <strong>Pickup Date:</strong><br />
      </div>
      <br />
      <div class="profile-item">
        <strong>Drop Date:</strong><br />
      </div>
    </div>
  </div>

  <div style="margin-left: 200px;margin-right: 200px;">
  <table class="table table-hover" >
    <thead>
        <tr>
              <th>S.No</th>
              <th>Service Provider</th>
              <th>Registration No.</th>
              <th>Response Date</th>
              <th>Rate</th>
              <th>Images</th>
              
        </tr>
    </thead>
    <tbody>
      <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
     </tr>
    </tbody>
</table> 
</div> 


</section>
