<section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('/assets/images/bg_2.jpg');" data-stellar-background-ratio="0.5">
</section>
<section class="ftco-section">
    <div class="container">
        <div class="row">
            <div class="col-md-3" *ngFor="let ob of vservice.vehOb">
                <div class="car-wrap ftco-animate" >
                    <div class="img d-flex align-items-end" style="background-image: url(/assets/images/car-1.jpg);">
                    </div>
                    <div class="text p-4 text-center" >
                        <h2 class="mb-0">{{ob.vehicleModel}}</h2>
                        <span>{{ob.vehicleType}}</span>
                        <span *ngIf="ob.seats > 0">Seats : {{ob.seats}}</span>
                        <span *ngIf="ob.vehicleCapacity != 0">Capacity : {{ob.vehicleCapacity}}</span>
                        <div style="padding-left: 60px;" *ngIf="userService.info.role === 'ROLE_ADMIN'">
                            <p class="d-flex mb-0 d-block"><a (click)="viewVehicles(ob)" class="btn btn-black btn-outline-black mr-1">View</a></p>
                        </div>
                        <div *ngIf="userService.info.isLogin==false">
                            <p class="d-flex mb-0 d-block"><a href="#" class="btn btn-black btn-outline-black mr-1">View</a> <a routerLink="/login" class="btn btn-black btn-outline-black ml-1">Book</a></p>
                        </div>
                        <div *ngIf="userService.info.role === 'ROLE_CUSTOMER'">
                            <p class="d-flex mb-0 d-block"><a href="#" class="btn btn-black btn-outline-black mr-1">View</a> <a (click)="requestVehicle(ob)" class="btn btn-black btn-outline-black ml-1">Book</a></p>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>  