<div  class="hero-wrap" style="background-image: url('assets/images/back2.jpeg'); height: 450px;" data-stellar-background-ratio="0.5">
    <section class="ftco-section">
        <div class="container">
            <h2>Vehicle Master</h2>
            <div class="row">
                <div class="col-md-4">
                    <div class="car-wrap ftco-animate">
                        <div class="img d-flex align-items-end" style="background-image: url('assets/images/car-1.jpg');">
                        </div>
                        
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="car-wrap ftco-animate">
                   </div>
                </div>
             
                <div class="col-md-7">
                    <div class="car-wrap ftco-animate">
                        <div class="form-group">
                           <br> <label class="label">Model : </label><br>
                            <label class="label">Type :  </label><br>
                            <div >
                                <label class="label">Seats :  </label>
                            </div>
                            <div >
                                <label class="label">Capacity :  </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </section>
    </div>
    <section class="ftco-section">
        <div class="container">
            <div>
                <div class="col-xl-5">
                    <h2>Service Provider Vehicles</h2>
                    <hr style="background-color: chocolate; text-decoration-thickness: 2px; height: 1px;">
                </div>
            </div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Service Provider</th>
                        <th>Registration Number</th>
                        <th>Fuel Type</th>
                        <th>RC Card</th>
                        <th>Images</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <button type="button" class="btn btn-primary">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clipboard" viewBox="0 0 16 16">
                                <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1z"></path>
                                <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0z"></path>
                            </svg>
                            </button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-primary">
                            <i class="fa fa-image"></i>
                            </button>
                        </td>
                     </tr>
                </tbody>
            </table>
        </div>
    </section>
        
    
    