<div  class="hero-wrap" style="background-image: url('assets/images/back2.jpeg'); height: 100px;" data-stellar-background-ratio="0.5">
    <section class="ftco-section"></section>
    </div>
<section class="ftco-section contact-section">
    
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="car-wrap ftco-animate">
                <div class="img d-flex align-items-end" style="background-image: url('assets/images/car-1.jpg');"></div>
    
            </div>
        </div>
    
        <div class="col-md-8 contact-info">
            <div class="row mb-5">
                <div style="padding-left: 50px;" class="col-md-6  border-right py-4">
                    <b>Customer Name:</b>&nbsp;
                    <label>{{reqData.customer.customerName}}</label><br>
                    <b>Vehicle Model:</b>&nbsp;
                    <label>{{reqData.vehicleMaster.vehicleModel}}</label><br>
                    <b>Fuel Type:</b>&nbsp;
                    <label>{{reqData.fuelType}}</label><br>
                    <b>AC:</b>&nbsp;
                    <label *ngIf="reqData.isAc==true">Yes</label>
                    <label *ngIf="reqData.isAc==false">No</label>
                </div>
                <div class="col-md-6 py-4">
                    <b>Source:</b>&nbsp;
                    <label>{{reqData.source}}</label><br>
                    <b>Destination:</b>&nbsp;
                    <label>{{reqData.destination}}</label><br>
                    <b>Start Date:</b>&nbsp;
                    <label>{{reqData.tripStartDate}}</label><br>
                    <b>End Date:</b>&nbsp;
                    <label>{{reqData.tripEndDate}}</label>
                </div>
            </div>
         </div>
    </div>

    <h2>Available Vehicles</h2>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Registration Number</th>
                <th>RC Card</th>
                <th>Action</th>
               
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let av of allVehicles">
                <td>{{av.registrationNumber}}</td>
                <td><button type="button" class="btn btn-primary">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clipboard" viewBox="0 0 16 16">
                        <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1z"></path>
                        <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0z"></path>
                    </svg>
                </button></td>
                <td></td>
            </tr>
        </tbody>
    </table>
    
</div>
</section> 
    