<div  class="hero-wrap" style="background-image: url('assets/images/back2.jpeg'); height: 450px;" data-stellar-background-ratio="0.5">
<section class="ftco-section">
    <div class="container">
        <h2>Vehicle Master</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="car-wrap ftco-animate">
                    <div class="img d-flex align-items-end" style="background-image: url('assets/images/car-1.jpg');"></div>
        
                </div>
            </div>
            <div class="col-md-1">
                <div class="car-wrap ftco-animate">
                </div>
            </div>
        
            <div class="col-md-7">
                <div class="car-wrap ftco-animate">
                    <div class="form-group">
                        <br> <label class="label">Model : {{masterVehicle.vehicleModel}}</label><br>
                        <label class="label">Type : {{masterVehicle.vehicleType}}</label><br>
                        <div *ngIf="masterVehicle.vehicleType == 'Rental'">
                            <label class="label">Seats : {{masterVehicle.seats}}</label>
                        </div>
                        <div *ngIf="masterVehicle.vehicleType == 'Transport'">
                            <label class="label">Capacity : {{masterVehicle.vehicleCapacity}}</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
</div>
<section class="ftco-section">
    <div class="container">
        <div>
            
            <div class="col-xl-4">
                <h2>Enter Vehicle Details</h2>
                <hr style="background-color: chocolate; text-decoration-thickness: 2px; height: 1px;">
            </div>
            <form #frm="ngForm" (submit)="addVehicle(frm.value,$event,rccd)">
                <div style="background-color: white; height: 300px;" class="container">
                    <br>
                <h2>Add Vehicle</h2>
                   <div class="row">
                     <div class="col-md-6">
                           <label for="" class="label">Registration Number</label>
                           <input [ngModel] type="text" [disabled]="setDisable" class="form-control" name="registrationNumber" required>
                     </div>
                     <input type="hidden" [ngModel] name="vehicleMasterId">
                     <div class="col-md-6">
                         <label for="" class="label">RC Card</label>
                         <input type="file" [disabled]="setDisable" class="form-control" #rccd required>
                     </div>
                    </div> 
                    <div class="row"> 
                     <div class="col-md-6">
                         <label for="" class="label">Fuel Type</label>
                         <select [ngModel] name="fuelType" class="form-control" required>
                             <option disabled selected value="">--Select Fuel Type--</option>
                             <option value="Diesel">Diesel</option>
                             <option value="Petrol">Petrol</option>
                             <option value="CNG">CNG</option>
                             <option value="EV">EV</option>
                         </select>
                     </div>
                     <div class="col-md-6">
                     <input type="submit" style="margin-top: 35px;" value="Add Vehicle" class="btn btn-primary py-3 px-4">
                     </div>
                    </div> 
                </div>
             </form>
        </div>
        <p>{{msg}}</p>
        <div *ngIf="showForm">
            <div class="col-xl-5">
                <h2>Upload Vehicle Images</h2>
                <hr style="background-color: chocolate; text-decoration-thickness: 2px; height: 1px;">
            </div>
            <form #frm="ngForm" (submit)="uploadImages($event)">
                <div style="background-color: white; height: 300px;" class="container">
                   <div class="row">  

                        <div *ngFor="let im of selectedImages;let i = index" class="upload-box col-md-3">
                            <div *ngIf="im.path == undefined">
                                <div class="plus-sign">+</div>
                                <input  type="file" (change)="onImgSelect($event,i)" id={{i}} accept="image/*">
                            </div>
                            
                            <img *ngIf="im.path != undefined">
                        </div>
                        {{imgMsg}}
                    </div> 
                    <div class="col-md-6">
                        <input type="submit" style="margin-top: 35px;" value="Upload Images" class="btn btn-primary py-3 px-4">
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
    

