<p>add-vehicle-master works!</p>
<div class="hero-wrap" style="background-image: url('assets/images/adminHome.jpg');" data-stellar-background-ratio="0.5">

    <div class="overlay"></div>
        <div class="container">
          <div class="row no-gutters slider-text justify-content-start align-items-center">
            <div class="col-lg-6 col-md-6 ftco-animate d-flex align-items-end">
               
            </div>
            <div class="col-lg-2 col"></div> 
            <div class="col-lg-4 col-md-6 mt-0 mt-md-5 d-flex">
                 <form #frm='ngForm'  (submit)="setMasterVehicle(frm.value,$event)" class="request-form ftco-animate" enctype="multipart/form-data">
                   <h2>Add Master Vehicle</h2>
                          <div class="form-group">
                              <label for="vehicleModel" class="label">vehicle Model</label>
                              <input type="text" name="vehicleModel" [ngModel] class="form-control" placeholder=" Vehicle Model ">
                          </div>
                          <div class="form-group">
                            <label for="vehicleType" class="label" >vehicle Type</label>
                            <select name="vehicleType" [ngModel] class="form-control" id="registrationType" placeholder=" Vehicle Model " style="width: 300px; font-weight: 500px;" required (change)="onVehicleTypeChange($event)">
                                <option value=" ">Select</option>
                                <option value="rental">Rental</option>
                                <option value="transport">Transport</option>
                            </select>
                        </div>
                          <div class="d-flex">
                              <div class="form-group mr-2">
                      <label for="seats" class="label">seats</label>
                      <input type="number" name="seats" [ngModel] class="form-control" id="seats" placeholder="seats" min="4">
                    </div>
                    <div class="form-group ml-2" *ngIf="showVehicleCapacity" >
                      <label for="vehicleCapacity" class="label">vehicle Capacity</label>
                      <input type="text" name="seats" [ngModel]  class="form-control" id="book_off_date" placeholder="vehicle Capacity">
                    </div>
                </div>
                <div class="form-group">
                  <label for="vehicleImage" class="label">vehicle Image</label>
                  <input type="file" (change)="onFileChange($event)" class="form-control" id="time_pick" placeholder="vehicle Image">
                </div>
                  <div class="form-group">
                    <input type="submit" value="Add Vehicle" class="btn btn-primary py-3 px-4">
                  </div>
                      </form>
            </div>
          </div>
        </div>
      </div>
    
      <section class="ftco-section ftco-no-pb ftco-no-pt">
          <div class="container">
              <div class="row">
                      <div class="col-md-12">
                          <div class="search-wrap-1 ftco-animate mb-5">
                              <form action="#" class="search-property-1">
                          <div class="row">
                              <div class="col-lg align-items-end">
                                  <div class="form-group">
                                      <label for="#">Select Model</label>
                                      <div class="form-field">
                                        <div class="select-wrap">
                                <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                                <select name="" id="" class="form-control">
                                    <option value="">Select Model</option>
                                  <option value="">Model 1</option>
                                  <option value="">Model 2</option>
                                  <option value="">Model 3</option>
                                  <option value="">Model 4</option>
                                  <option value="">Model 5</option>
                                  <option value="">Model 6</option>
                                  <option value="">Model 7</option>
                                  <option value="">Model 8</option>
                                  <option value="">Model 9</option>
                                  <option value="">Model 10</option>
                                </select>
                              </div>
                                </div>
                            </div>
                              </div>
                              <div class="col-lg align-items-end">
                                  <div class="form-group">
                                      <label for="#">Select Brand</label>
                                      <div class="form-field">
                                        <div class="select-wrap">
                                <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                                <select name="" id="" class="form-control">
                                    <option value="">Select Brand</option>
                                  <option value="">Brand 1</option>
                                  <option value="">Brand 2</option>
                                  <option value="">Brand 3</option>
                                  <option value="">Brand 4</option>
                                  <option value="">Brand 5</option>
                                  <option value="">Brand 6</option>
                                  <option value="">Brand 7</option>
                                  <option value="">Brand 8</option>
                                  <option value="">Brand 9</option>
                                  <option value="">Brand 10</option>
                                </select>
                              </div>
                                </div>
                            </div>
                              </div>
                              <div class="col-lg align-items-end">
                                  <div class="form-group">
                                      <label for="#">Year Model</label>
                                      <div class="form-field">
                                        <div class="select-wrap">
                                <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                                <select name="" id="" class="form-control">
                                    <option value="">Year Model</option>
                                  <option value="">2019</option>
                                  <option value="">2018</option>
                                  <option value="">2017</option>
                                  <option value="">2016</option>
                                  <option value="">2015</option>
                                  <option value="">2014</option>
                                </select>
                              </div>
                                </div>
                            </div>
                              </div>
                              <div class="col-lg align-items-end">
                                  <div class="form-group">
                                      <label for="#">Price Limit</label>
                                      <div class="form-field">
                                        <div class="select-wrap">
                                <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                                <select name="" id="" class="form-control">
                                    <option value="">$1</option>
                                  <option value="">$50</option>
                                  <option value="">$100</option>
                                  <option value="">$200</option>
                                  <option value="">$300</option>
                                  <option value="">$400</option>
                                  <option value="">$500</option>
                                  <option value="">$600</option>
                                  <option value="">$700</option>
                                  <option value="">$800</option>
                                  <option value="">$900</option>
                                  <option value="">$1000</option>
                                </select>
                              </div>
                                </div>
                            </div>
                              </div>
                              <div class="col-lg align-self-end">
                                  <div class="form-group">
                                      <div class="form-field">
                                  <input type="submit" value="Search" class="form-control btn btn-primary">
                                </div>
                            </div>
                              </div>
                          </div>
                      </form>
                  </div>
                      </div>
              </div>
          </div>
      </section>
    
      <section class="ftco-section services-section ftco-no-pt ftco-no-pb">
        <div class="container">
            <div class="row justify-content-center">
            <div class="col-md-12 heading-section text-center ftco-animate mb-5">
                <span class="subheading">Our Services</span>
              <h2 class="mb-2">Our Services</h2>
            </div>
          </div>
          <div class="row d-flex">
            <div class="col-md-3 d-flex align-self-stretch ftco-animate">
              <div class="media block-6 services">
                <div class="media-body py-md-4">
                    <div class="d-flex mb-3 align-items-center">
                        <div class="icon"><span class="flaticon-customer-support"></span></div>
                      <h3 class="heading mb-0 pl-3">24/7 Car Support</h3>
                  </div>
                  <p>A small river named Duden flows by their place and supplies it with you</p>
                </div>
              </div>      
            </div>
            <div class="col-md-3 d-flex align-self-stretch ftco-animate">
              <div class="media block-6 services">
                <div class="media-body py-md-4">
                    <div class="d-flex mb-3 align-items-center">
                        <div class="icon"><span class="flaticon-route"></span></div>
                      <h3 class="heading mb-0 pl-3">Lots of location</h3>
                  </div>
                  <p>A small river named Duden flows by their place and supplies it with you</p>
                </div>
              </div>      
            </div>
            <div class="col-md-3 d-flex align-self-stretch ftco-animate">
              <div class="media block-6 services">
                <div class="media-body py-md-4">
                    <div class="d-flex mb-3 align-items-center">
                        <div class="icon"><span class="flaticon-online-booking"></span></div>
                      <h3 class="heading mb-0 pl-3">Reservation</h3>
                  </div>
                  <p>A small river named Duden flows by their place and supplies it with you</p>
                </div>
              </div>      
            </div>
            <div class="col-md-3 d-flex align-self-stretch ftco-animate">
              <div class="media block-6 services">
                <div class="media-body py-md-4">
                    <div class="d-flex mb-3 align-items-center">
                        <div class="icon"><span class="flaticon-rent"></span></div>
                      <h3 class="heading mb-0 pl-3">Rental Cars</h3>
                  </div>
                  <p>A small river named Duden flows by their place and supplies it with you</p>
                </div>
              </div>      
            </div>
          </div>
        </div>
      </section>
    
      
      <section class="ftco-section services-section img" style="background-image: url(assets/images/bg_2.jpg);">
        <div class="overlay"></div>
        <div class="container">
            <div class="row justify-content-center mb-5">
          <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
              <span class="subheading">Work flow</span>
            <h2 class="mb-3">How it works</h2>
          </div>
        </div>
            <div class="row">
                <div class="col-md-3 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services services-2">
              <div class="media-body py-md-4 text-center">
                  <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-route"></span></div>
                <h3>Pick Destination</h3>
                <p>A small river named Duden flows by their place and supplies it with you</p>
              </div>
            </div>      
          </div>
          <div class="col-md-3 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services services-2">
              <div class="media-body py-md-4 text-center">
                  <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-select"></span></div>
                <h3>Select Term</h3>
                <p>A small river named Duden flows by their place and supplies it with you</p>
              </div>
            </div>      
          </div>
          <div class="col-md-3 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services services-2">
              <div class="media-body py-md-4 text-center">
                  <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-rent"></span></div>
                <h3>Choose A Car</h3>
                <p>A small river named Duden flows by their place and supplies it with you</p>
              </div>
            </div>      
          </div>
          <div class="col-md-3 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services services-2">
              <div class="media-body py-md-4 text-center">
                  <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-review"></span></div>
                <h3>Enjoy The Ride</h3>
                <p>A small river named Duden flows by their place and supplies it with you</p>
              </div>
            </div>      
          </div>
            </div>
        </div>
    </section>
    
    
    <section class="ftco-section testimony-section">
        <div class="container">
          <div class="row justify-content-center mb-5">
            <div class="col-md-7 text-center heading-section ftco-animate">
                <span class="subheading">Testimonial</span>
              <h2 class="mb-3">Happy Clients</h2>
            </div>
          </div>
          <div class="row ftco-animate">
            <div class="col-md-12">
              <div class="carousel-testimony owl-carousel ftco-owl">
                <div class="item">
                  <div class="testimony-wrap text-center py-4 pb-5">
                    <div class="user-img mb-4" style="background-image: url(assets/images/person_1.jpg)">
                    </div>
                    <div class="text pt-4">
                      <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                      <p class="name">Roger Scott</p>
                      <span class="position">Marketing Manager</span>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="testimony-wrap text-center py-4 pb-5">
                    <div class="user-img mb-4" style="background-image: url(assets/images/person_2.jpg)">
                    </div>
                    <div class="text pt-4">
                      <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                      <p class="name">Roger Scott</p>
                      <span class="position">Interface Designer</span>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="testimony-wrap text-center py-4 pb-5">
                    <div class="user-img mb-4" style="background-image: url(assets/images/person_3.jpg)">
                    </div>
                    <div class="text pt-4">
                      <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                      <p class="name">Roger Scott</p>
                      <span class="position">UI Designer</span>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="testimony-wrap text-center py-4 pb-5">
                    <div class="user-img mb-4" style="background-image: url(assets/images/person_1.jpg)">
                    </div>
                    <div class="text pt-4">
                      <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                      <p class="name">Roger Scott</p>
                      <span class="position">Web Developer</span>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="testimony-wrap text-center py-4 pb-5">
                    <div class="user-img mb-4" style="background-image: url(assets/images/person_1.jpg)">
                    </div>
                    <div class="text pt-4">
                      <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                      <p class="name">Roger Scott</p>
                      <span class="position">System Analyst</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    