<div
  class="hero-wrap"
  style="height: 10px; background-image: url('/assets/images/back2.jpeg'); "
  data-stellar-background-ratio="0.5"
>
  <section class="ftco-section"></section>
</div>
<section class="ftco-section">
  <div class="container">
   
    <div class="profile-row">
      <br />
      <div class="profile-item"><b>Name:</b><br />{{ spProfile.serviceProviderName }}</div>
      <br />
      <div class="profile-item">
        <strong>Email:</strong><br />{{ spProfile.email }}
      </div>
      <br />
      <div class="profile-item">
        <strong>Mobile:</strong><br />{{ spProfile.serviceProviderMobile }}
      </div>
    </div>
    <div class="profile-row">
      <br />
      <div class="profile-item">
        <strong>Registration Date:</strong><br />{{ spProfile.regDate }}
      </div>
      <br />
      <div class="profile-item">
        <strong>Active Status:</strong><br />
        <div *ngIf="spProfile.activeStatus==true"><p>Active</p></div>
      <div *ngIf="spProfile.activeStatus==false">
       InActive
      </div>
      </div>
      <br />
      <div class="profile-item">
        <strong>Block Status:</strong><br />
        <div *ngIf="spProfile.isblock==true">
          Blocked
      </div>
      <div *ngIf="spProfile.isblock==false">
          Unblock
      </div>
      </div>
    </div>
    <div class="profile-row">
        <br />
        <div class="profile-item"><b>Address:</b><br />{{ spProfile.serviceProviderAddress }}</div>
        <br />
        <div class="profile-item">
          <strong>Rating:</strong><br />{{ spProfile.rating }}
        </div>
        <br />
        <div class="profile-item">
          <strong>Type:</strong><br />{{ spProfile.serviceProviderType }}
        </div>
      </div>
  </div>
</section>

<div class="container">
  <div id="tabs" class="tab">
    <ul>
      <li><a href="#tabs-1">Bookings</a></li>
      <li><a href="#tabs-2">Pendings</a></li>
      <li><a href="#tabs-3">Payments</a></li>
    </ul>
    <div id="tabs-1">
      <div class="container">
        <div class="row">
          <h1>Bookings</h1>
        </div>
      </div>
    </div>
      <div id="tabs-2">
        <div class="container">
          <div class="row">
            <h1>Pending Bookings</h1>
          </div>
        </div>
      </div>
      <div id="tabs-3">
        <div class="container">
          <div class="row">
            <h1>Payments</h1>
          </div>
        </div>
      </div>
    </div>
</div>
