<div class="container">
    <div class="col-lg-2 col">
        <div *ngIf="showPopup" class="popup modal fade show" style="display: block;" tabindex="-1">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Important!</h5>
                <button type="button" class="btn btn-danger" (click)="closePopup()">x</button>
              </div>
              <div class="modal-body">
                <p class="popup-message">Are you sure to delete this vehicle?</p>
                    <button class="btn btn-danger" (click)="deleteVehicle()">Yes</button>&nbsp;&nbsp;&nbsp;&nbsp;
                    <button class="btn btn-info" (click)="closePopup()">No</button>
              </div>
            </div>
          </div>
        </div>  
      </div>
    <h2>Vehicle Master</h2>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Vehicle</th>
                <th>Registration Number</th>
                <th>Fuel Type</th>
                <th>Status</th>
                <th>RC Card</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let spv of spVehicles">
                <td>{{spv.vehicleMaster.vehicleModel}}</td>
                <td>{{spv.registrationNumber}}</td>
                <td>{{spv.fuelType}}</td>
                <td>{{spv.status}}</td>
                <td><button type="button" class="btn btn-primary">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clipboard" viewBox="0 0 16 16">
                        <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1z"></path>
                        <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0z"></path>
                    </svg>
                </button></td>
                <td><button class="btn btn-primary">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                        <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0"/>
                        <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7"/>
                    </svg></button> &nbsp;&nbsp;&nbsp;
                    <button class="btn btn-primary" (click)="showDeletePopup(spv.spVehicleId)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                            <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"/>
                          </svg></button>
                </td>
            </tr>
        </tbody>
    </table>
    <p>{{msg}}</p>
    <div class="row mt-5">
        <div class="col text-center">
            <div class="block-27">
                <ul>
                    <li *ngFor="let i of getLinks()" (click)="link(i+1)"><a>{{i+1}}</a>  </li>
                </ul>
            </div>
        </div>
    </div>
</div>
    
    